<div class="container">
    <div id="page-name">            
            <h1 style="color: gold" >Eat-Da-Burger</h1>
    </div>
    <div class="row">
        <div class="col text-light" style="border: 1px solid lightgrey">
            Ready to Eat
        </div>
        <div class="col text-light" style="border: 1px solid lightgrey">
            Devoured
        </div>
    </div>
    <div class="row text-light">
        <div class="col" style="border: 1px solid lightgrey; overflow: auto">
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        <tr class="table-row">
                            <td class="table-first-col">{{id}}. {{burger_name}}</td>  
                            <td>
                                <button class="btn change-devour" data-id="{{id}}">Devour it!</button>
                            </td>                          
                        </tr>
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col" style="border: 1px solid lightgrey">
            {{#each burgers}}
                {{#if devoured}}
                    <div>{{id}}. {{burger_name}}</div>
                {{/if}}
            {{/each}}        
        </div>          
    </div>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="Type burger name here..."></textarea>
        </div>
        <button type="submit">Add Another Burger!</button>
    </form>     
</div>
